# Игнорировать все файлы
*

# Не игнорировать JavaScript файлы
!*.js

# Не игнорировать CSS файлы  
!*.css

# Не игнорировать .gitignore сам по себе
!.gitignore

# Не игнорировать .git папку
!.git/
!.git/**
